﻿.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.img-container {
    width: 100%;
    padding-top: 80%;
    position: relative;
    overflow: hidden;
}

    .img-container:hover img {
        transform: scale(1.1);
    }

    .img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: scale(1);
        transition: transform 0.3s ease;
    }

.card-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    margin-top: auto;
}
